<ion-menu [content]="content" id="menu1">

  <ion-header no-border>
    <ion-toolbar transparent>
      <ion-title>
        <img height="40" src="assets/icon/logo.svg">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf=privatePages>
      <button color="space" menuClose ion-item *ngFor="let p of privatePages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-navbar>
      <ion-buttons center>
        <ion-grid>
          <ion-row justify-content-center>
            <button ion-button color="secondary" block round (click)="logout()" menuToggle>
              <ion-icon name="log-out" item-end></ion-icon>
              Sair
            </button>
          </ion-row>
        </ion-grid>
      </ion-buttons>
    </ion-navbar>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
